apiVersion: console.openshift.io/v1
kind: ConsoleLink
metadata:
  name: acs-console-link
spec:
  href: 'https://{{ f_stackrox_central_addr }}'
  location: ApplicationMenu
  text: Red Hat Advanced Cluster Security for Kubernetes
